body {
	background:no-repeat url("../CSS/nuages.jpg");
	background-size: cover;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top: 40px;
	width: 400px;
}
#meteo, form{
	padding: 30px 0;
	color:#E83F6F;
	background:rgba(34, 116, 165,0.5);
}
form, label{
	display:flex;
	justify-content:center;
	align-items: center;	
}
form{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
#meteo{
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
h2{
	font-size: 3em;
}
p {
	font-size:2em;
}
#erreur{
	padding:0px;
	margin:0px;
}
h1{
	color:#E83F6F;
}
